AddDefaultCharset UTF-8

RewriteEngine On

# Si el archivo o directorio existe, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás va a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
